{% assign meta_description = site.description | strip_html | strip_newlines | xml_escape | truncate: 300 %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="{{ meta_description }}" />
    <meta property="og:title" content="{{ site.name }}" />
    <meta property="og:image" content="{{ site.avatar_url }}" />
    <meta property="og:description" content="{{ meta_description }}" />
    <title>{{ site.title }}</title>
    <!-- Exo 2 Font -->
    <link href="https://fonts.googleapis.com/css?family=Exo+2:100,300,400,500,700&display=swap" rel="stylesheet">
    <!-- Dev Icons -->
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">

    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="/assets/css/styles.css">
  </head>
  <body>
