<div class="profile">
  <div class="profile__gradient-circle">
    <img
      src="{{ site.avatar_url }}"
      alt="{{ site.name }} profile image"
      class="profile__avatar"
    />
  </div>

  <h1 class="profile__name">{{ site.name }}</h1>

  {% include social-media.html %}

  <p class="profile__description">{{ site.description }}</p>

  <span class="email">
    <i class="material-icons email__icon">mail_outline</i>
    <a href="mailto:{{ site.email }}" class="email__link">{{ site.email }}</a>
  </span>

  <a
    href="{{ site.resume_url }}"
    target="_blank"
    rel="noopener noreferrer"
    class="resume"
  >
    <i class="material-icons resume__icon">cloud_download</i>
    <span>Download my CV</span>
  </a>
</div>
