<div class="social-media">
  <a
    href="//github.com/{{ site.github_username }}"
    target="_blank"
    rel="noopener noreferrer"
    class="social-media__link"
  >
    <img
      src="/assets/images/github.svg"
      class="social-media__icon"
      alt="github icon"
    />
  </a>

  <a
    href="//instagram.com/{{ site.instagram_username }}"
    target="_blank"
    rel="noopener noreferrer"
    class="social-media__link"
  >
    <img
      src="/assets/images/instagram.svg"
      class="social-media__icon"
      alt="instagram icon"
    />
  </a>

  <a
    href="//linkedin.com/in/{{ site.linkedin_username }}"
    target="_blank"
    rel="noopener noreferrer"
    class="social-media__link"
  >
    <img
      src="/assets/images/linkedin.svg"
      class="social-media__icon"
      alt="linkedin icon"
    />
  </a>

  <a
    href="//twitter.com/{{ site.twitter_username }}"
    target="_blank"
    rel="noopener noreferrer"
    class="social-media__link"
  >
    <img
      src="/assets/images/twitter.svg"
      class="social-media__icon"
      alt="twitter icon"
    />
  </a>
</div>
