// Base website colors
$blue-link: #009efd;
$blue-grey: #263238;
$light-blue-grey: #546E7A;

$happy-green: #2af598;

$chocolate: #bfaa9d;

$black-at-16: rgba(0,0,0,0.16);
$black-at-32: rgba(0,0,0,0.32);

$white: #FFFFFF;
