* {
  margin: 0;
}

html, body {
  height: 100%;
}

.navbar-toggle {
  float: left;
  margin-left: 1em;
}

.my-container {
  min-height: calc(100% - 89px);
  margin-bottom: -64px;

  &:after {
    content: "";
    display: block;
  }
}

.image-center {
  margin-left: auto; 
  margin-right: auto;
}

.post-content {
  margin-top: $spacing-unit;
  margin-bottom: $spacing-unit;
}

.footer, .my-container:after {
  height: 64px;
}

.footer {
  width: 100%;
  padding-top: 2.4rem;
  min-height: 64px;
  text-align: center;
  background-color: #eee;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;

  h5 {
    color: #353432;
    margin-bottom: 0;
  }
  
  small {
    color: #4E4D4A;
  }
}
