.profile {
  background-color: $white;
  box-shadow: 0 4px 8px $blue-grey-32;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 48px 16px;
  z-index: 1;

  &__description,
  &__gradient-circle,
  &__name {
    margin: 0 0 16px;
    padding: 0;
  }

  &__avatar {
    border-radius: 50%;
    width: 152px;
    height: 152px;
  }

  &__description {
    color: $cloudy-sky;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.68;
    max-width: 540px;
    text-align: center;
  }

  &__gradient-circle {
    background-image: linear-gradient(180deg, $happy-green 0%, $blue-link 100%);
    border-radius: 50%;
    box-shadow: 0 4px 8px $light-blue-grey-32, 0 4px 8px $light-blue-grey-64;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 160px;
  }

  &__name {
    font-size: 3.4rem;
    font-weight: 700;
    text-shadow: 0px 2px 2px $blue-grey-16;

    @media (max-width: 340px) {
      font-size: 2.6rem;
    }

    @media screen and (min-width: 341px) and (max-width: 480px) {
      font-size: 3.6rem;
    }
  }
}

.email {
  display: flex;
  margin: 16px 0;

  &__icon {
    color: $cloudy-sky;
    margin-right: 8px;
  }

  &__link {
    color: $blue-link;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1;
  }

  @media (max-width: 340px) {
    flex-direction: column;
    align-items: center;
  }
}

.resume {
  background-color: $blue-link;
  border-radius: 2em;
  color: $white;
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1;
  margin: 16px 0 0;
  padding: 18px 48px;
  text-align: center;
  text-decoration: none;

  &:hover {
    filter: brightness(108%);
  }

  &__icon {
    margin-right: 8px;
  }

  @media (max-width: 340px) {
    padding: 16px 24px;
  }
}
