.social-media {
  display: flex;
  list-style-type: none;
  margin: 16px 0;

  &__icon {
    width: 48px;
  }

  &__link {
    display: flex;
    align-items: center;
    margin-right: 24px;

    &:hover {
      filter: brightness(128%);
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
