*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-color: $chocolate;
  color: $blue-grey;
  font-family: 'Exo 2', sans-serif;
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  flex-direction: column;

  // @media (min-width: 768px) {
  //   flex-direction: row;
  // }
}

.footer {
  color: $white;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 32px 16px;

  &__credits {
    font-size: 12px;
  }

  &__passion {
    font-weight: 300;
    margin: 16px 0;
  }

  a {
    color: $blue-link;
  }
}
