<!DOCTYPE html>
<html lang="pt-BR">
  {% include head.html %}
  {% include google_analytics.html %}

  <body>
    {% include new_header.html %}

    <div class="my-container">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
            {{ content }}
          </div>
        </div>
      </div>  
    </div>

    {% include new_footer.html %}

    <script src="/js/jquery-2.1.4.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
